[Unit]
Description=GPIOPI
After=network.target

[Service]
WorkingDirectory=/usr/share/gpiopi
ExecStart=/usr/share/gpiopi/gpiopi.py
Restart=always
Type=forking
PIDFile=/run/gpiopi.pid

[Install]
WantedBy=multi-user.target
